*{
    margin: 0;
}

.container{
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;

}

.title{
    text-align: center;
    margin-bottom: 10px;
}